<app-button (click)="addChar(7)">7</app-button>
<app-button (click)="addChar(8)">8</app-button>
<app-button (click)="addChar(8)">9</app-button>
<app-button (click)="addChar(8)">/</app-button>
<app-button (click)="addChar(7)">4</app-button>
<app-button (click)="addChar(8)">5</app-button>
<app-button (click)="addChar(8)">6</app-button>
<app-button (click)="addChar(8)">X</app-button>
<app-button (click)="addChar(7)">1</app-button>
<app-button (click)="addChar(8)">2</app-button>
<app-button (click)="addChar(8)">3</app-button>
<app-button (click)="addChar(8)">-</app-button>
<app-button (click)="addChar(7)">0</app-button>
<app-button (click)="addChar(8)">.</app-button>
<app-button (click)="addChar(8)">+</app-button>
<app-button (click)="addChar(8)">=</app-button>
